<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Foodkeeper</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
    <script src='./javascripts/main.js'></script>

    <link href="./stylesheets/style.css" rel="stylesheet">
    <link rel="icon" href="favicon.ico">
</head>
<body>
    <nav class="navbar">
        <div class="logo"><a href="/">Foodkeeper</a></div>
        <ul class="nav-links">
            <div class="menu"> 
                <li><a href="/">Home</a></li>
                <li><a href="/storage">My Storage</a></li>
                <li><a href="/list">To Do List</a></li>
            </div>  
        </ul>   
    </nav>
    <div class="slides-container">
        <img class="slides" src="images/slide-1.JPG">
        <h3 class="first-text">Save with Foodkeeper</h3>
        <img class="slides" src="/images/slide-2.JPG">
        <img class="slides" src="/images/slide-3.JPG">
    </div>
    <div><h3 class="question">What did you get today?</h3></div>

    <form action="/item" method="POST">
        <ul>
           <li>
             <label for="item">Item Name:</label>
             <input type="text" id="item" name="item"/>
           </li> 
           <li>
             <label for="price">Price:</label>
             <input type="text" id="price" name="item"/>
           </li>
           <li>
             <label for="purchased-date">Purchased Date:</label>
             <input type="text" id="purchased-date" name="item"/>
           </li>
        </ul>
        <li class="button">
            <input class="button" type="submit" value="Submit">
        </li>
    </form>
    <script src="./javascripts/main.js"></script>
</body>
</html>
