<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src='./javascripts/main.js'></script>
        <link rel="stylesheet" href="./stylesheets/style.css">
    </head>
    <body>
        <nav class="navbar">
            <div class="logo"><a href="/">Foodkeeper</a></div>
            <ul class="nav-links">
                <div class="menu"> 
                    <li><a href="/">Home</a></li>
                    <li class="groceries">
                        <a>My Grocery</a>
                        <ul class="dropdown">
                            <li><a href="/">Spoiling Soon</a></li>
                            <li><a href="/">Most expensive</a></li>
                        </ul>
                    </li>
                    <li><a href="/list">To Do List</a></li>
                </div>  
            </ul>   
        </nav>
        <h2 class="shopping-question">Thinking about something to buy? Put it down</h2>
        <form action="/buy" method="post" class="shopping-form">
            <ul>
                <li>
                    <label for="buy">Item Name:</label>
                    <input type="text" id="buy" name="buy">
                </li>
            </ul>
            <li class="button">
                <input class="button" type="submit" value="Submit">
            </li>
        </form>

        <h2 class="list-h2">Ask carrot man for this week's shopping list</h2>
        <button src="/images/carrot.jpeg" id="carrot-button">
            <img src="/images/carrot.jpeg" class="carrot-img"></img>
        </button>

        
        <script src="./javascripts/main.js"></script>
    </body>
</html>