<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Foodkeeper</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='./javascripts/main.js'></script>
    <link href="./stylesheets/style.css" rel="stylesheet">
</head>
<body>
	<!-- navigation bar -->
	<nav class="navbar">
        <div class="logo"><a href="/">Foodkeeper</a></div>
        <ul class="nav-links">
            <div class="menu"> 
                <li><a href="/">Home</a></li>
                <li><a href="/storage">My Storage</a></li>
                <li><a href="/list">To Do List</a></li>
            </div>  
        </ul>   
    </nav>
    <!-- end navigation bar -->

</body>
</html>