body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

form {
  /* Center the form on the page */
  margin: 20px auto;
  height: fit-content;
  width: fit-content;

  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

form li {
  margin-left: 40px;
  margin-bottom: 20px;
}

form li:nth-last-child(1) {
  align-content: center;
  margin: auto;
}

input {
  height: 30px;
  width: 150px;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: auto;
  text-align: right;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

ul > li > input[type="submit"] {
  display: block;
  /* Align buttons with the text fields */
  margin: auto;
  height: 2rem;
  width: auto;
  padding: 0 3rem;
  border-color: gainsboro;
  border-radius: 0.5rem;
}

.actionBtn {
  border-radius: 0.4rem;
  padding: 0.2rem;
}

.editBtn {
  color: #fff;
  background-color: #a2a2a2;
}

.deleteBtn {
  color: #fff;
  background-color: #fd0000;
  border-color: white;
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: teal;
  padding-bottom: 1rem;
}

footer {
  margin-top: 3rem;
}

table {
  border: 0;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.arrow-down:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(196, 196, 196);
}

.arrow-down:focus {
  /* Hope this could work  */
  color: red;
  border-top: 10px solid yellow;
}

th {
  background-color: teal;
  color: white;
  padding: 1.35em 0.88rem;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: left;
}

tr {
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;
  padding: 35px;
  cursor: pointer;
}

tr:hover,
tr:nth-child(2n + 0):hover {
  background: #f8fbeb;
  cursor: pointer;
}

tr:nth-child(2n + 0) {
  background: white;
}

td {
  padding: 0.625em;
  line-height: 2.8;
}

td > input {
  width: 100%;
  height: fit-content;
}

.box {
  max-width: 800px;
  margin: 0 auto;
  color: #142029;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.25);
}
