/*
General
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: Arial, Helvetica, sans-serif;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
/*
navbar
*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
    margin-top: 0px;
}
.nav-links a {
    color: #fff;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    list-style-type:None;
   }
.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}

.logo a{
    font-size: 32px;
    color:aliceblue;
}

/* DROPDOWN MENU */
.groceries {
    position: relative; 
}

.dropdown {
    background-color:rgb(115, 188, 188);
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 4px;
    margin-top: 3px;

}
.dropdown li + li {
    margin-top: 10px;
}
.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
.dropdown li:hover {
    background-color: #4c9e9e;
}
.groceries:hover .dropdown {
    display: block;
    transition-delay: 5s;
}
/*
Slides
*/

.slides{
    height: 600px;
    width: 1050px;
    margin: auto;
}
.first-text{
    position: absolute;
    top: 160px;
    left: 300px;
    font-size: 35px;
    color: rgb(34, 58, 81);
    font-family:Arial, Helvetica, sans-serif;
    padding: 3px;
    background-color: aquamarine;
}

.question{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: rgb(27, 69, 55);
    margin-top: 30px;
}
/*
Form
*/

form {
    /* Center the form on the page */
    margin: 20px auto;
    height: 400px;
    width: 500px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
 /* 
ul {
    list-style: none;
    margin: auto;
    padding: 0;
    margin-left: 20px;
}*/
form li{
    margin-left: 40px;
}

form li + li {
    margin-top: 1em;
}

input{
    height:30px;
    width: 180px;
}
  
label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
    /*margin: auto;*/
    margin-top: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.button {
    /* Align buttons with the text fields */
    align-content: center;
    margin-left: 200px;
    margin-top: 20px;
    height: 200px;
    width: 200px;
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
    size: 80px;
    height: 20px;
    width: 60px;
  }

